

  <h3> CodeWithMe is a coding collaboration application</h3>
  <p> Features</p>
  <ul>
    <li>Real time code collaboration</li>
    <li>Real time chat</li>
    <li>Real time video call</li>
    <li>Screen Sharing</li>
    <li>Auto save last coding point</li>
  </ul>

  <p>Tech Stack</p>
  <ul>
    <li>Noje js</li>
    <li>Express</li>
    <li>Socket io</li>
    <li>Peer js</li>
    <li>handlersBars (template engine)</li>
    <li>MongoDB</li>
  </ul>

  <p>Author</p>
  <ul>
    <li>Izedomi Emmanuel</li>
  </ul>

  <p>Source Code</p>
  <ul>
    <li>https://github.com/izedomi/CodeWithMe-NodeJs</li>
  </ul>