
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form class="form-signin">

                <h3>Login</h3>
                <br/>
                <input class="form-control" name="email" placeholder="email" required="" autofocus /><br/>
                <input class="form-control" name="password" placeholder="password" required="" autofocus /><br/>
                <button class="btn btn-primary w-100" type="submit">Sign In</button>

            </form>
            </div>
        </div>
    </div>
