
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action"./login" method="post" class="form-signin">

                <h3>Login</h3>
                <br/>
                 {{#each errorMessages}}
                    <div class="alert alert-danger">
                    {{this.param}} : {{this.msg}}
                    </div>
                {{/each}}

                <input class="form-control" name="email" placeholder="email" autofocus value={{name}}><br/>
                <input class="form-control" name="password" placeholder="password" autofocus><br/>
                <button class="btn btn-primary w-100" type="submit">Sign In</button>
                <br><br/>
                <h4 class="text-center">- OR - </h4>
                <a href="../auth/facebook" class="btn btn-success w-100" >Sign In with facebook</a>

            </form>
            </div>
        </div>
    </div>
