<form class="form-signin">

    <h3>Create Account</h3>
    <br/>
    <input class="form-control" name="name" placeholder="name" required="" autofocus /><br/>
    <input class="form-control" name="email" placeholder="email" required="" autofocus /><br/>
    <input class="form-control" name="password" placeholder="password" required="" autofocus /><br/>
    <input class="form-control" name="confirm-password" placeholder="confirm password" required="" autofocus /><br/>
    <button class="btn btn-primary w-100" type="submit">Submit</button>

</form>