

a {
  color: #00B7FF;
}


.CodeMirror {
  height: 600px;
}

*,*:before,*after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#my-video {
  width: 270px;
  height: 200px;
  background-color: #eee;
}

#second-video {
  width: 270px;
  height: 200px;
  background-color: #eee;
}

#video-container {
  text-align: center;
  padding: 25px;
}
/*
#step1-error, #step2, #step3 {
  
}
*/
#my-id {
  font-weight: bold;
}

.video{
  width: 270px;
  height: 200px;
}
